server:
  port: 8086

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/habrdb
    driverClassName: org.postgresql.Driver
    username: "habrpguser"
    password: "pgpwd4habr"
  liquibase:
    parameters:
      clearCheckSums: true
  jpa:
    hibernate:
      ddl-auto: none #never ever use in production
    properties:
      hibernate:
        default_schema: demo



